{% macro print_comments_recursively(comment) %}
    <div style="margin-left: {{ comment.inheritanceLevel * 10 }}px">
        <p>{{ comment.inheritanceLevel }}</p>
        <p>{{ comment.user.username }}</p>
        <p>{{ comment.date }}</p>
        <p>{{ comment.content }}</p>
        {% if comment.childs is not null %}
            {% for child in comment.childs %}
                {{ macros.print_comments_recursively(child) }}
            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}