{% macro print_comments_recursively(comment) %}
    <div style="margin-left: {{ comment.inheritanceLevel * 40 }}px">
        <p>{{ comment.inheritanceLevel }}</p>
        <p>{{ comment.user.username }}</p>
        <p>{{ comment.date }}</p>
        <p>{{ comment.content }}</p>
        <p>{{ comment.childs|length }}</p>
        {% if comment.childs is not null %}
            {% import _self as twigdebug %}
            {% for child in comment.childs %}
                {{ twigdebug.print_comments_recursively(child) }}

            {% endfor %}
        {% endif %}
    </div>
{% endmacro %}